.background-complete-1-icon {
    position: absolute;
    height: 8.8%;
    width: calc(100% - 5px);
    top: 0.03%;
    right: 2px;
    bottom: 91.17%;
    left: 3px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    opacity: 0.6;
  }
  .real-estate-child {
    position: absolute;
    top: 525.63px;
    left: 1559.8px;
    border-radius: 50%;
    background-color: #80bbff;
    filter: blur(335px);
    width: 576px;
    height: 576px;
    transform: rotate(140.53deg);
    transform-origin: 0 0;
    opacity: 0.24;
  }
  .elevate {
    font-weight: 500;
  }
  .real-estate-success {
    color: var(--color-royalblue);
  }
  .elevate-real-estate-container,
  .tailored-solutions-for {
    align-self: stretch;
    position: relative;
    line-height: 72px;
  }
  .tailored-solutions-for {
    font-size: var(--h200-blod-size);
    line-height: 36px;
    font-family: var(--body300-rg);
    color: var(--color-darkslategray);
  }
  .elevate-real-estate-success-wi-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-base);
  }
  .get-started {
    position: relative;
    line-height: 30px;
  }
  .customer-service-2-fill-icon {
    position: relative;
    width: 18px;
    height: 18px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .frame-parent,
  .large-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .large-button {
    border-radius: var(--br-13xl);
    background-color: var(--color-royalblue);
    width: 408px;
    flex-direction: row;
    padding: var(--padding-smi) var(--padding-117xl);
    box-sizing: border-box;
    gap: var(--gap-9xs);
    font-size: var(--h200-blod-size);
    color: var(--color-white);
  }
  .frame-parent {
    position: absolute;
    top: calc(50% - 5525.5px);
    left: calc(50% - 449px);
    width: 899px;
    flex-direction: column;
    gap: var(--gap-13xl);
    font-size: 48px;
  }
  .rathi-1-icon,
  .whatsapp-image-2023-06-08-at-9 {
    position: absolute;
    object-fit: cover;
    display: none;
  }
  .whatsapp-image-2023-06-08-at-9 {
    top: -12px;
    left: -5px;
    width: 520px;
    height: 512px;
  }
  .rathi-1-icon {
    top: calc(50% - 251px);
    left: calc(50% - 266.5px);
    width: 523px;
    height: 500px;
  }
  .savex-1-icon {
    top: calc(50% - 251px);
    left: calc(50% - 259.5px);
    width: 516px;
    height: 516px;
  }
  .gq-1-1,
  .rathi-2-icon,
  .savex-1-icon {
    position: absolute;
    object-fit: cover;
    display: none;
  }
  .gq-1-1 {
    top: calc(50% - 262px);
    left: calc(50% - 263.5px);
    width: 525px;
    height: 525px;
  }
  .rathi-2-icon {
    top: 0;
    left: 0;
    width: 515.03px;
    height: 500px;
  }
  .wegile-1-icon {
    display: none;
  }
  .leeway-icon,
  .tabish-11-2-1,
  .wegile-1-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 515.35px;
    height: 500px;
    object-fit: cover;
  }
  .tabish-11-2-1 {
    width: 515px;
  }
  .leeway-02-icon,
  .neemans-1-icon {
    position: absolute;
    height: 500px;
    display: none;
  }
  .leeway-02-icon {
    top: calc(50% - 251px);
    left: calc(50% - 258.5px);
    width: 515px;
    object-fit: cover;
  }
  .neemans-1-icon {
    top: 0;
    left: 0;
    width: 515.74px;
  }
  .neemans-1-icon,
  .whatsapp-image-2023-06-08-at-91 {
    object-fit: cover;
  }
  .whatsapp-image-2023-06-08-at-91,
  .whatsapp-image-2023-06-08-at-92 {
    position: absolute;
    top: 0;
    left: 0;
    width: 525px;
    height: 525px;
    display: none;
  }
  .e-text-continer {
    position: absolute;
    top: 392px;
    left: 23px;
    display: none;
  }
  .whatsapp-image-2023-06-08-at-93 {
    position: absolute;
    top: calc(50% - 251px);
    left: calc(50% - 269.5px);
    width: 536px;
    height: 505px;
    object-fit: cover;
  }
  .bc9692154166107-1-icon {
    position: absolute;
    top: 0;
    left: calc(50% - 258.5px);
    width: 525px;
    height: 500px;
    object-fit: cover;
    display: none;
  }
  .for-salebro-icon,
  .work-card {
    position: absolute;
    overflow: hidden;
  }
  .work-card {
    top: 7217.27px;
    left: 1204px;
    border-radius: var(--br-base);
    background-color: var(--color-whitesmoke-100);
    border: 1px solid var(--ut-80);
    box-sizing: border-box;
    width: 517px;
    height: 502px;
    display: none;
  }
  .for-salebro-icon {
    height: 100.09%;
    width: 100.06%;
    top: 0;
    right: -0.06%;
    bottom: -0.09%;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    mix-blend-mode: luminosity;
  }
  .marketing,
  .we-need {
    position: relative;
    font-weight: 900;
    text-shadow: 0 4px 13px #9bc9fc;
  }
  .we-need {
    align-self: stretch;
  }
  .marketing {
    text-align: left;
  }
  .we-need-parent {
    position: absolute;
    top: 176px;
    left: 197px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .header-image {
    position: absolute;
    top: 659px;
    left: calc(50% - 398px);
    width: 796px;
    height: 538px;
    mix-blend-mode: normal;
    color: var(--color-white);
    font-family: var(--font-lato);
  }
  .our-service-offerings,
  .strategies-that-drive {
    align-self: stretch;
    position: relative;
    line-height: 48px;
  }
  .strategies-that-drive {
    font-size: var(--h200-blod-size);
    line-height: 36px;
    font-family: var(--body300-rg);
    color: var(--color-darkslategray);
    display: inline-block;
    height: 44px;
    flex-shrink: 0;
  }
  .our-service-offerings-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-base);
    font-size: var(--h400-bold-size);
  }
  .frame-child {
    position: relative;
    width: 52px;
    height: 52px;
  }
  .automotive-seo {
    align-self: stretch;
    position: relative;
    line-height: 22.5px;
  }
  .group-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .drive-your-success {
    align-self: stretch;
    position: relative;
    font-size: var(--body300-rg1-size);
    font-family: var(--body300-rg);
    color: var(--color-darkslategray);
  }
  .service-card,
  .service-card1 {
    border-radius: var(--br-5xs);
    background-color: var(--color-white);
    box-shadow: -3px 4px 16px rgba(0, 0, 0, 0.04);
    width: 297px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-13xl) var(--padding-base);
    box-sizing: border-box;
    gap: var(--gap-base);
  }
  .service-card1 {
    height: 239px;
  }
  .m-buttons,
  .service-card-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .service-card-parent {
    align-self: stretch;
    flex-wrap: wrap;
    gap: var(--gap-11xl);
  }
  .m-buttons {
    border-radius: var(--br-13xl);
    background-color: var(--color-royalblue);
    padding: var(--padding-base-5) var(--padding-45xl);
    gap: var(--gap-9xs);
    color: var(--color-white);
  }
  .frame-group,
  .services-section {
    display: flex;
    flex-direction: column;
  }
  .frame-group {
    align-self: stretch;
    align-items: center;
    justify-content: center;
    gap: var(--gap-49xl);
  }
  .services-section {
    position: absolute;
    top: calc(50% - 3669.5px);
    left: calc(50% - 720px);
    background-color: var(--color-whitesmoke-100);
    width: 1440px;
    overflow: hidden;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-72xl) var(--padding-62xl);
    box-sizing: border-box;
    font-size: var(--h200-semi-size);
  }
  .directing-the-arrow-upcuate-icon {
    position: absolute;
    height: 2.94%;
    width: 35.22%;
    top: 13.31%;
    right: 59.23%;
    bottom: 83.75%;
    left: 5.56%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .unlock-the-potential {
    position: relative;
    line-height: 48px;
    display: inline-block;
    width: 646px;
  }
  .unlock-the-potential-of-digita-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .m-buttons1 {
    border-radius: var(--br-13xl);
    background-color: var(--color-royalblue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-base-5) var(--padding-45xl);
    gap: var(--gap-9xs);
    text-align: center;
    font-size: var(--h200-semi-size);
    color: var(--color-white);
  }
  .frame-container {
    position: absolute;
    top: 1530px;
    left: 627px;
    width: 733px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-13xl);
    text-align: left;
  }
  .real-estate-focused-digital {
    position: absolute;
    top: 1418px;
    left: calc(50% - 419px);
    line-height: 48px;
    display: inline-block;
    width: 839px;
  }
  .insights-for-real {
    align-self: stretch;
    position: relative;
    font-size: var(--h200-blod-size);
    line-height: 36px;
    font-family: var(--body300-rg);
    color: var(--color-darkslategray);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    flex-shrink: 0;
  }
  .driving-property-inquiries-to-parent,
  .navigating-real-estates-digit-parent {
    position: absolute;
    top: 3302px;
    left: calc(50% - 639px);
    width: 1278px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-base);
  }
  .driving-property-inquiries-to-parent {
    top: 4418px;
  }
  .market-trends-analysis,
  .predictive-insights-to {
    position: relative;
    display: inline-block;
    width: 454px;
  }
  .market-trends-analysis {
    line-height: 31.2px;
    font-weight: 600;
  }
  .predictive-insights-to {
    font-size: var(--body200-bold-size);
    letter-spacing: -0.02em;
    line-height: 24px;
    font-family: var(--h200-blod);
    color: var(--color-darkslategray);
  }
  .market-trends-analysis-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .group-parent7 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-base);
    background-color: var(--color-white);
    box-shadow: var(--shadow);
    border: 1px solid var(--color-whitesmoke-300);
    box-sizing: border-box;
    height: 153px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-13xl);
    gap: var(--gap-base);
  }
  .frame-wrapper {
    position: relative;
    width: 586px;
    height: 153px;
  }
  .group-parent6,
  .group-parent8 {
    display: flex;
    gap: var(--gap-base);
  }
  .group-parent8 {
    border-radius: var(--br-base);
    background-color: var(--color-white);
    box-shadow: var(--shadow);
    border: 1px solid var(--color-whitesmoke-300);
    box-sizing: border-box;
    height: 153px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-13xl);
  }
  .group-parent6 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1;
  }
  .background-complete-icon {
    height: 92.99%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 7.01%;
    left: 0;
  }
  .background-complete-icon,
  .background-simple-icon,
  .plant-2-icon,
  .shadow-icon {
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .background-simple-icon {
    height: 85.39%;
    width: 67.9%;
    top: 11.14%;
    right: 10.8%;
    bottom: 3.47%;
    left: 21.3%;
    opacity: 0;
  }
  .plant-2-icon,
  .shadow-icon {
    height: 6.08%;
    width: 77.56%;
    top: 93.92%;
    right: 11.22%;
    bottom: 0;
    left: 11.22%;
  }
  .plant-2-icon {
    height: 18.62%;
    width: 9.82%;
    top: 78.62%;
    right: 11.66%;
    bottom: 2.76%;
    left: 78.52%;
  }
  .vector-icon,
  .vector-icon1 {
    height: 52.94%;
    width: 10.7%;
    top: 47.06%;
    bottom: 0;
  }
  .vector-icon {
    position: absolute;
    right: 11.55%;
    left: 77.75%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vector-icon1 {
    right: 77.74%;
    left: 11.56%;
  }
  .group-icon1,
  .vector-icon1,
  .vector-icon2,
  .vector-icon3 {
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-icon1 {
    height: 52.94%;
    width: 76.89%;
    top: 47.06%;
    right: 11.55%;
    bottom: 0;
    left: 11.56%;
    opacity: 0.3;
  }
  .vector-icon2,
  .vector-icon3 {
    height: 50.38%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 49.62%;
    left: 0;
  }
  .vector-icon3 {
    opacity: 0.4;
  }
  .vector-icon4,
  .vector-icon5,
  .vector-icon6,
  .vector-icon7 {
    position: absolute;
    height: 46.85%;
    width: 94.83%;
    top: 1.77%;
    right: 2.59%;
    bottom: 51.38%;
    left: 2.58%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vector-icon5,
  .vector-icon6,
  .vector-icon7 {
    opacity: 0.2;
  }
  .vector-icon6,
  .vector-icon7 {
    height: 43.87%;
    width: 83.98%;
    top: 3.3%;
    right: 10.09%;
    bottom: 52.83%;
    left: 5.93%;
    opacity: 0.1;
  }
  .vector-icon7 {
    height: 43.88%;
    width: 83.95%;
    top: 3.44%;
    right: 6.79%;
    bottom: 52.68%;
    left: 9.26%;
  }
  .expert,
  .we-are {
    position: relative;
    font-weight: 900;
    text-shadow: 0 4px 13px #9bc9fc;
  }
  .expert {
    margin-top: -4px;
  }
  .we-are-parent {
    position: absolute;
    top: 64.19px;
    left: 87.4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .vector-icon10,
  .vector-icon11,
  .vector-icon8,
  .vector-icon9 {
    position: absolute;
    height: 4.92%;
    width: 6.39%;
    top: 18.91%;
    right: 19.5%;
    bottom: 76.17%;
    left: 74.11%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vector-icon10,
  .vector-icon11,
  .vector-icon9 {
    height: 2.78%;
    width: 7.59%;
    top: 22.18%;
    right: 17.59%;
    bottom: 75.05%;
    left: 74.81%;
  }
  .vector-icon10,
  .vector-icon11 {
    height: 4.47%;
    width: 6.5%;
    top: 19.23%;
    right: 11.06%;
    bottom: 76.3%;
    left: 82.44%;
  }
  .vector-icon11 {
    height: 2.64%;
    width: 7.9%;
    top: 18.15%;
    right: 12.33%;
    bottom: 79.2%;
    left: 79.77%;
  }
  .vector-icon12,
  .vector-icon13,
  .vector-icon14,
  .vector-icon15,
  .vector-icon16 {
    position: absolute;
    height: 3.34%;
    width: 2.18%;
    top: 16.48%;
    right: 15.74%;
    bottom: 80.18%;
    left: 82.09%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vector-icon13,
  .vector-icon14,
  .vector-icon15,
  .vector-icon16 {
    height: 3.04%;
    width: 2.4%;
    top: 16.72%;
    right: 14.24%;
    bottom: 80.24%;
    left: 83.36%;
  }
  .vector-icon14,
  .vector-icon15,
  .vector-icon16 {
    height: 0.63%;
    width: 5.09%;
    top: 21.73%;
    right: 11.75%;
    bottom: 77.65%;
    left: 83.17%;
  }
  .vector-icon15,
  .vector-icon16 {
    height: 0.48%;
    width: 5.81%;
    top: 20.71%;
    right: 10.03%;
    bottom: 78.81%;
    left: 84.16%;
  }
  .vector-icon16 {
    height: 11.86%;
    width: 15.29%;
    top: 15.26%;
    right: 8.79%;
    bottom: 72.88%;
    left: 75.92%;
  }
  .vector-icon17,
  .vector-icon18,
  .vector-icon19,
  .vector-icon20,
  .vector-icon21 {
    position: absolute;
    height: 12.29%;
    width: 15.09%;
    top: 15%;
    right: 14.32%;
    bottom: 72.72%;
    left: 70.59%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vector-icon18,
  .vector-icon19,
  .vector-icon20,
  .vector-icon21 {
    height: 0.56%;
    width: 6.85%;
    top: 20.3%;
    right: 20.43%;
    bottom: 79.14%;
    left: 72.72%;
  }
  .vector-icon19,
  .vector-icon20,
  .vector-icon21 {
    width: 5.94%;
    top: 21.36%;
    right: 22%;
    bottom: 78.07%;
    left: 72.05%;
  }
  .vector-icon20,
  .vector-icon21 {
    height: 3.76%;
    width: 3.64%;
    top: 22.95%;
    right: 20.72%;
    bottom: 73.29%;
    left: 75.64%;
  }
  .vector-icon21 {
    height: 2.62%;
    width: 2.57%;
    top: 22.91%;
    right: 19.13%;
    bottom: 74.46%;
    left: 78.3%;
  }
  .group-icon2,
  .group-icon3,
  .group-icon4,
  .group-icon5,
  .vector-icon22 {
    position: absolute;
    height: 11.93%;
    width: 7.29%;
    top: 20.27%;
    right: 22.66%;
    bottom: 67.8%;
    left: 70.05%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-icon2,
  .group-icon3,
  .group-icon4,
  .group-icon5 {
    height: 8.83%;
    width: 13.9%;
    top: 33.64%;
    right: 7.71%;
    bottom: 57.53%;
    left: 78.39%;
    opacity: 0.4;
  }
  .group-icon3,
  .group-icon4,
  .group-icon5 {
    height: 6.24%;
    width: 14.07%;
    top: 39.42%;
    right: 73.08%;
    bottom: 54.34%;
    left: 12.85%;
  }
  .group-icon4,
  .group-icon5 {
    height: 7.41%;
    width: 12.48%;
    top: 6.02%;
    right: 14.15%;
    bottom: 86.57%;
    left: 73.36%;
  }
  .group-icon5 {
    height: 9.89%;
    width: 15.25%;
    top: 3.66%;
    right: 74.52%;
    bottom: 86.45%;
    left: 10.23%;
  }
  .group-icon6 {
    height: 6.29%;
    width: 16.31%;
    top: 3.19%;
    right: 44.5%;
    bottom: 90.52%;
    left: 39.19%;
    opacity: 0.4;
  }
  .group-icon6,
  .group-icon7,
  .vector-icon23 {
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .group-icon7 {
    height: 6.18%;
    width: 13.14%;
    top: 40.56%;
    right: 40.73%;
    bottom: 53.26%;
    left: 46.13%;
    opacity: 0.4;
  }
  .vector-icon23 {
    height: 3.34%;
    width: 2.18%;
    top: 16.48%;
    right: 84.45%;
    bottom: 80.18%;
    left: 13.38%;
  }
  .vector-icon24,
  .vector-icon25,
  .vector-icon26,
  .vector-icon27,
  .vector-icon28 {
    position: absolute;
    height: 3.04%;
    width: 2.4%;
    top: 16.72%;
    right: 85.71%;
    bottom: 80.24%;
    left: 11.88%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vector-icon25,
  .vector-icon26,
  .vector-icon27,
  .vector-icon28 {
    height: 0.63%;
    width: 5.08%;
    top: 21.73%;
    right: 85.52%;
    bottom: 77.65%;
    left: 9.4%;
  }
  .vector-icon26,
  .vector-icon27,
  .vector-icon28 {
    height: 0.48%;
    width: 5.82%;
    top: 20.71%;
    right: 86.52%;
    bottom: 78.81%;
    left: 7.67%;
  }
  .vector-icon27,
  .vector-icon28 {
    height: 11.86%;
    width: 15.29%;
    top: 15.26%;
    right: 78.27%;
    bottom: 72.88%;
    left: 6.43%;
  }
  .vector-icon28 {
    height: 12.29%;
    width: 15.08%;
    top: 15%;
    right: 72.95%;
    bottom: 72.72%;
    left: 11.96%;
  }
  .vector-icon29,
  .vector-icon30,
  .vector-icon31,
  .vector-icon32,
  .vector-icon33 {
    position: absolute;
    height: 0.56%;
    width: 6.85%;
    top: 20.3%;
    right: 75.08%;
    bottom: 79.14%;
    left: 18.07%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .vector-icon30,
  .vector-icon31,
  .vector-icon32,
  .vector-icon33 {
    width: 5.94%;
    top: 21.36%;
    right: 74.41%;
    bottom: 78.07%;
    left: 19.65%;
  }
  .vector-icon31,
  .vector-icon32,
  .vector-icon33 {
    height: 3.76%;
    width: 3.64%;
    top: 22.95%;
    right: 78%;
    bottom: 73.29%;
    left: 18.37%;
  }
  .vector-icon32,
  .vector-icon33 {
    height: 2.63%;
    width: 2.57%;
    top: 22.9%;
    right: 80.66%;
    bottom: 74.46%;
    left: 16.77%;
  }
  .vector-icon33 {
    height: 11.93%;
    width: 7.29%;
    top: 20.27%;
    right: 72.41%;
    bottom: 67.8%;
    left: 20.3%;
  }
  .blackboard,
  .character-icon {
    position: absolute;
    height: 76.05%;
    width: 38.71%;
    top: 21.19%;
    right: 30.79%;
    bottom: 2.76%;
    left: 30.5%;
  }
  .character-icon {
    height: 70.56%;
    width: 23.97%;
    top: 26.67%;
    right: 17.43%;
    left: 58.6%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .english-teacherrafiki {
    position: absolute;
    height: 75.54%;
    width: 94.1%;
    top: 6.79%;
    right: 2.37%;
    bottom: 17.66%;
    left: 3.53%;
  }
  .english-teacherrafiki-wrapper {
    position: relative;
    border-radius: var(--br-13xl);
    background-color: var(--color-whitesmoke-100);
    width: 793px;
    height: 736px;
    z-index: 0;
    margin-left: -99px;
    font-size: var(--h400-bold-size);
    color: var(--color-white);
    font-family: var(--font-lato);
  }
  .frame-parent1 {
    position: absolute;
    top: 3474px;
    left: calc(50% - 640px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: var(--h200-blod-size);
    font-family: var(--font-poppins);
  }
  .icon-child {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-whitesmoke-200);
    width: 190px;
    height: 190px;
  }
  .virtual-10569504-2-icon {
    position: absolute;
    top: calc(50% - 64px);
    left: calc(50% - 63.5px);
    width: 128px;
    height: 128px;
    object-fit: cover;
  }
  .icon {
    position: relative;
    width: 190px;
    height: 190px;
  }
  .our-carefully-crafted {
    align-self: stretch;
    position: relative;
    line-height: 36px;
    font-family: var(--body300-rg);
    color: var(--color-darkslategray);
  }
  .icon-parent {
    width: 621px;
    height: 463px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-10xl);
  }
  .online-store-3929777-2-icon {
    position: absolute;
    top: calc(50% - 64px);
    left: calc(50% - 64px);
    width: 128px;
    height: 128px;
    object-fit: cover;
  }
  .icon-group {
    width: 624px;
    height: 463px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-10xl);
  }
  .frame-parent3 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-16xl);
    font-size: var(--h200-blod-size);
  }
  .driving-property-inquiries-to-group {
    height: 575px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-45xl);
  }
  .d-9345318-2-icon {
    position: absolute;
    top: calc(50% - 64px);
    left: calc(50% - 64.5px);
    width: 128px;
    height: 128px;
    object-fit: cover;
  }
  .icon-parent1 {
    width: 621px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-10xl);
  }
  .frame-parent2,
  .frame-parent4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent4 {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-19xl);
    font-size: var(--h200-blod-size);
  }
  .frame-parent2 {
    position: absolute;
    top: calc(50% - 763px);
    left: calc(50% - 640px);
    width: 1280px;
    flex-direction: column;
    gap: var(--gap-45xl);
  }
  .our-expertise-in {
    position: relative;
    line-height: 48px;
    font-weight: 800;
    display: inline-block;
    width: 707px;
  }
  .frame-parent6 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-16xl);
    font-size: var(--h200-blod-size);
  }
  .our-expertise-in-action-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-45xl);
  }
  .medal-2439078-1-1 {
    position: absolute;
    top: 31px;
    left: 31.5px;
    width: 128px;
    height: 128px;
    object-fit: cover;
  }
  .frame-parent5,
  .frame-parent7 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent7 {
    flex-direction: row;
    gap: var(--gap-19xl);
    font-size: var(--h200-blod-size);
  }
  .frame-parent5 {
    position: absolute;
    height: 9.47%;
    top: 54.29%;
    bottom: 36.24%;
    left: calc(50% - 640px);
    width: 1280px;
    flex-direction: column;
    gap: var(--gap-45xl);
  }
  .through-our-conversion-focused {
    margin: 0;
  }
  .through-our-conversion-focused-container {
    align-self: stretch;
    position: relative;
    font-size: var(--h200-blod-size);
    line-height: 36px;
    font-family: var(--body300-rg);
    color: var(--color-darkslategray);
    display: inline-block;
    height: 118px;
    flex-shrink: 0;
  }
  .frame-parent8,
  .m-buttons2 {
    display: flex;
    align-items: center;
  }
  .m-buttons2 {
    border-radius: var(--br-13xl);
    background-color: var(--color-royalblue);
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-base-5) var(--padding-45xl);
    gap: var(--gap-9xs);
    font-size: var(--h200-semi-size);
    color: var(--color-white);
  }
  .frame-parent8 {
    position: absolute;
    top: calc(50% + 1758.5px);
    left: calc(50% - 389px);
    width: 779px;
    flex-direction: column;
    justify-content: flex-end;
    gap: var(--gap-13xl);
  }
  .real-estate-inner,
  .real-estate-item {
    position: absolute;
    top: 7758.82px;
    left: 1687.43px;
    border-radius: 50%;
    background-color: var(--color-tomato);
    filter: blur(335px);
    width: 381.87px;
    height: 630.4px;
    transform: rotate(-126.03deg);
    transform-origin: 0 0;
    opacity: 0.24;
  }
  .real-estate-inner {
    top: 7910.63px;
    left: 525.8px;
    background-color: var(--color-dodgerblue);
    width: 576px;
    height: 576px;
    transform: rotate(140.53deg);
  }
  .what-our-pharma-partners-say-parent {
    position: absolute;
    top: 83px;
    left: calc(50% - 520px);
    width: 1040px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-base);
  }
  .tabish-formal-photo-1-1 {
    position: absolute;
    top: calc(50% - 231.73px);
    left: calc(50% - 300px);
    width: 600px;
    height: 464px;
    object-fit: cover;
  }
  .play-circle-fill-icon {
    position: absolute;
    top: calc(50% - 47.73px);
    left: calc(50% - 48px);
    width: 100px;
    height: 100px;
    overflow: hidden;
  }
  .video {
    position: relative;
    border-radius: var(--br-base);
    background-color: var(--color-whitesmoke-100);
    width: 600px;
    height: 464px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .avatar-of-team {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
  .avatar-of-team,
  .heading-4 {
    position: relative;
  }
  .divall-testimonials-box-nam,
  .span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .divall-testimonials-box-nam {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .symbol {
    position: relative;
    font-size: 62px;
    line-height: 62px;
    font-family: var(--font-font-awesome-5-free);
    color: var(--color-royalblue);
  }
  .divall-testimonials-box-nam-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .osumares-expertise-in {
    position: relative;
    line-height: 36px;
    display: flex;
    align-items: center;
    width: 397px;
  }
  .frame-parent10,
  .p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .p {
    font-size: var(--h200-blod-size);
    font-family: var(--body300-rg);
  }
  .frame-parent10 {
    gap: 25px;
  }
  .testimonial-card,
  .video-parent {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .video-parent {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-13xl);
  }
  .testimonial-card {
    position: absolute;
    top: calc(50% - 612.5px);
    left: calc(50% - 558px);
    border-radius: var(--br-base);
    background-color: var(--color-white);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    width: 1117px;
    flex-direction: column;
    padding: 50px 44px;
    box-sizing: border-box;
    text-align: left;
    font-size: var(--h200-semi-size);
    color: var(--color-gray-400);
    font-family: var(--font-poppins);
  }
  .scroll-buttion-icon {
    position: relative;
    width: 60px;
    height: 60px;
  }
  .scroll-buttion-parent {
    position: absolute;
    top: 850px;
    left: calc(50% - 76px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-13xl);
  }
  .pinpoint-your-audience {
    position: relative;
    font-size: var(--h200-blod-size);
    line-height: 36px;
    font-family: var(--body300-rg);
    color: var(--color-darkslategray);
    display: inline-block;
    width: 984px;
  }
  .frequently-asked-questions-parent {
    width: 1030px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-base);
  }
  .how-does-osumare {
    position: relative;
    line-height: 28px;
    font-weight: 600;
  }
  .symbol1 {
    position: relative;
    line-height: 20px;
    transform: rotate(180deg);
    transform-origin: 0 0;
  }
  .ifa-solid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: var(--font-size-xl);
    font-family: var(--font-font-awesome-5-free);
  }
  .div,
  .divfaq-box-question {
    display: flex;
    justify-content: flex-start;
  }
  .div {
    flex-direction: row;
    align-items: center;
    gap: var(--gap-200xl);
  }
  .divfaq-box-question {
    align-self: stretch;
    background-color: var(--color-white);
    box-shadow: 0 10px 15px rgba(0, 120, 255, 0.35);
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-xl) var(--padding-26xl);
  }
  .how-does-osumare-measure-campa-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-200xl);
    z-index: 0;
  }
  .p1 {
    margin: 0 !important;
    position: absolute;
    top: calc(50% - 12px);
    left: 45px;
    z-index: 1;
  }
  .divfaq-box,
  .divfaq-box-question1 {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .divfaq-box-question1 {
    align-self: stretch;
    box-shadow: 0 10px 15px rgba(0, 120, 255, 0.35);
    padding: var(--padding-xl) var(--padding-26xl);
    position: relative;
    gap: var(--gap-3xs);
  }
  .divfaq-box {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    width: 800px;
  }
  .how-does-osumare2 {
    flex: 1;
    position: relative;
    line-height: 28px;
    font-weight: 600;
  }
  .symbol3 {
    position: relative;
    line-height: 20px;
  }
  .p2 {
    margin: 0 !important;
    position: absolute;
    top: calc(50% - 12px);
    left: 45px;
    width: 474px;
    z-index: 1;
  }
  .divfaq-box-question2 {
    align-self: stretch;
    background-color: var(--color-royalblue);
    box-shadow: 0 10px 15px rgba(0, 120, 255, 0.35);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-xl) var(--padding-26xl);
    position: relative;
    gap: var(--gap-3xs);
  }
  .we-believe-in {
    flex: 1;
    position: relative;
    line-height: 24px;
    display: inline-block;
    height: 117px;
  }
  .divfaq-box-answer {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xl) var(--padding-32xl) 27.75px var(--padding-26xl);
    box-sizing: border-box;
    max-height: 200px;
    font-size: var(--body200-bold-size);
    color: var(--color-dimgray);
    font-family: var(--body300-rg);
  }
  .divfaq-box1,
  .faq,
  .frame-parent11 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .divfaq-box1 {
    border-radius: 0 0 var(--br-5xs) var(--br-5xs);
    background-color: var(--color-white);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    width: 800px;
    align-items: flex-start;
    color: var(--color-white);
  }
  .faq,
  .frame-parent11 {
    align-items: center;
  }
  .faq {
    width: 1280px;
    height: 376.75px;
    padding: 0 var(--padding-221xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--h200-semi-size);
    color: var(--color-gray-400);
  }
  .frame-parent11 {
    position: absolute;
    top: 1070px;
    left: 103px;
    gap: var(--gap-45xl);
  }
  .frame-parent9 {
    position: absolute;
    top: 8008px;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), #f9f9f9);
    width: 1440px;
    height: 1719px;
    overflow: hidden;
  }
  .form-section-child,
  .form-section-item {
    position: absolute;
    top: 516.63px;
    left: 537.8px;
    border-radius: 50%;
    background-color: var(--color-dodgerblue);
    filter: blur(327px);
    width: 576px;
    height: 576px;
    transform: rotate(140.53deg);
    transform-origin: 0 0;
    opacity: 0.24;
  }
  .form-section-item {
    top: 325.82px;
    left: 1712.43px;
    background-color: var(--color-tomato);
    width: 381.87px;
    height: 630.4px;
    transform: rotate(-126.03deg);
  }
  .connect-with-our {
    align-self: stretch;
    position: relative;
    line-height: 48px;
    font-weight: 800;
  }
  .connect-with-our-digital-marke-parent {
    position: absolute;
    top: 143px;
    left: calc(50% - 376px);
    width: 752px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-base);
  }
  .name {
    position: relative;
    line-height: 24px;
    font-weight: 600;
  }
  .enter-your-name {
    position: relative;
    line-height: 28px;
    display: inline-block;
    width: 357px;
    flex-shrink: 0;
  }
  .enter-your-name-wrapper,
  .name-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .enter-your-name-wrapper {
    border-radius: var(--br-9xs);
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-silver);
    box-sizing: border-box;
    width: 380px;
    flex-direction: row;
    padding: var(--padding-5xs) var(--padding-xs);
    text-align: left;
    color: var(--ut-70);
  }
  .name-parent {
    flex-direction: column;
    gap: var(--gap-xs);
  }
  .enter-your-number {
    position: relative;
    line-height: 28px;
    display: inline-block;
    width: 359px;
    flex-shrink: 0;
  }
  .enter-your-number-wrapper {
    border-radius: var(--br-9xs);
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-silver);
    box-sizing: border-box;
    width: 380px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-xs);
    text-align: left;
    color: var(--ut-70);
  }
  .frame-parent14 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-base);
  }
  .enter-your-message {
    position: relative;
    line-height: 28px;
    display: inline-block;
    width: 350px;
    height: 208px;
    flex-shrink: 0;
  }
  .enter-your-message-wrapper,
  .message-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .enter-your-message-wrapper {
    border-radius: var(--br-9xs);
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-silver);
    box-sizing: border-box;
    width: 380px;
    height: 235px;
    flex-direction: row;
    padding: var(--padding-5xs) var(--padding-xs);
    text-align: left;
    color: var(--ut-70);
  }
  .message-parent {
    border-radius: var(--br-5xs);
    height: 248px;
    flex-direction: column;
    gap: var(--gap-xs);
  }
  .frame-parent13,
  .frame-wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .frame-parent13 {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: var(--gap-13xl);
  }
  .large-button1 {
    border-radius: var(--br-13xl);
    background-color: var(--color-royalblue);
    width: 408px;
    flex-direction: row;
    padding: var(--padding-smi) var(--padding-117xl);
    box-sizing: border-box;
    gap: var(--gap-9xs);
    font-size: var(--h200-blod-size);
    color: var(--color-white);
    font-family: var(--h300-bold);
  }
  .form,
  .frame-parent12,
  .large-button1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .frame-parent12 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-13xl);
  }
  .form {
    position: absolute;
    width: calc(100% - 536px);
    top: calc(50% - 107.5px);
    right: 268px;
    left: 268px;
    border-radius: var(--br-base);
    background-color: var(--color-white);
    box-shadow: 0 10px 44px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    flex-wrap: wrap;
    padding: var(--padding-13xl) var(--padding-37xl);
    box-sizing: border-box;
    font-size: var(--body200-bold-size);
    color: var(--color-gray-200);
    font-family: var(--h200-blod);
  }
  .form-section {
    position: absolute;
    top: 9887px;
    left: calc(50% - 720px);
    background-color: #fefefe;
    width: 1440px;
    height: 900px;
    overflow: hidden;
  }
  .frame-child9 {
    position: absolute;
    top: 385.63px;
    left: 490.8px;
    border-radius: 50%;
    background-color: var(--color-dodgerblue);
    filter: blur(327px);
    width: 576px;
    height: 576px;
    transform: rotate(140.53deg);
    transform-origin: 0 0;
    opacity: 0.32;
  }
  .osumare-logo-01-2-3 {
    position: absolute;
    top: calc(50% - 36px);
    left: calc(50% - 68.5px);
    width: 124.2px;
    height: 72px;
    object-fit: cover;
  }
  .osamare-white-logo {
    position: relative;
    border-radius: var(--br-9xs);
    width: 137px;
    height: 72px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .the-best-digital {
    position: relative;
    line-height: 24px;
    display: inline-block;
    width: 365px;
  }
  .osamare-white-logo-parent {
    position: absolute;
    top: 56px;
    left: 43px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
    font-size: var(--body200-bold-size);
    color: var(--color-darkslategray);
    font-family: var(--body300-rg);
  }
  .address {
    position: relative;
    letter-spacing: 0.3px;
    line-height: 27px;
  }
  .survey-no-43 {
    position: relative;
    font-size: var(--body200-bold-size);
    line-height: 24px;
    font-family: var(--body300-rg);
    color: var(--color-darkslategray);
    text-align: left;
    display: inline-block;
    width: 196px;
  }
  .address-parent {
    position: absolute;
    top: 263px;
    left: 43px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    text-align: center;
    font-size: var(--h200-semi-size);
  }
  .home,
  .menu {
    position: relative;
    line-height: 48px;
  }
  .home {
    line-height: 24px;
    font-weight: 500;
  }
  .home-parent,
  .menu-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .home-parent {
    gap: var(--gap-base);
    font-size: var(--body200-bold-size);
    color: var(--color-darkslategray);
  }
  .menu-parent {
    position: absolute;
    top: 56px;
    left: 653px;
    gap: var(--gap-13xl);
    text-align: center;
  }
  .pinterest-fill-icon {
    position: relative;
    border-radius: var(--br-13xl);
    width: 40px;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icons,
  .social-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
  }
  .icons {
    width: 280px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .social-parent {
    position: absolute;
    top: 56px;
    left: 965px;
    flex-direction: column;
  }
  .contacts {
    position: relative;
    line-height: 36px;
  }
  .mail-fill-icon {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .helloosumarein {
    position: relative;
    line-height: 24px;
    color: inherit;
    display: inline-block;
    width: 160px;
    flex-shrink: 0;
    text-decoration: none;
  }
  .mail-fill-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .div1 {
    position: relative;
    line-height: 24px;
  }
  .conatct-info,
  .contacts-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .conatct-info {
    justify-content: center;
    gap: var(--gap-base);
    font-size: var(--body200-bold-size);
    color: var(--color-darkslategray);
    font-family: var(--body300-rg);
  }
  .contacts-parent {
    position: absolute;
    top: 426px;
    left: 43px;
    justify-content: flex-start;
    gap: var(--gap-5xl);
    font-family: var(--h200-blod);
  }
  .ellipse-parent {
    position: relative;
    border-radius: var(--br-13xl);
    background: linear-gradient(
      261.57deg,
      rgba(0, 111, 237, 0.12),
      rgba(178, 214, 255, 0.12)
    );
    backdrop-filter: blur(500px);
    width: 1280px;
    height: 657px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .osumare-all-rights {
    position: relative;
    font-size: var(--body200-bold-size);
    letter-spacing: 0.3px;
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
    width: 314px;
  }
  .frame-parent15 {
    position: absolute;
    top: 10883px;
    left: calc(50% - 624px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-13xl);
    text-align: left;
    font-size: var(--h200-blod-size);
  }
  .house-searchingbro-icon {
    position: relative;
    width: 500px;
    height: 400px;
  }
  .frame-parent16 {
    width: 682px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-13xl);
  }
  .house-searchingbro-parent {
    position: absolute;
    top: calc(50% - 1227px);
    left: calc(50% - 639px);
    width: 1280px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 98px;
    text-align: left;
  }
  .osumare-logo-01-2-4 {
    position: relative;
    width: 172px;
    height: 100px;
    object-fit: cover;
  }
  .contact-us {
    position: relative;
    line-height: 24px;
    display: inline-block;
    width: 168px;
    flex-shrink: 0;
  }
  .nav,
  .secondary-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
  }
  .secondary-button {
    border-radius: var(--br-13xl);
    border: 1px solid var(--color-gray-300);
    width: 216px;
    height: 44px;
    justify-content: center;
    padding: var(--padding-3xs) var(--padding-5xl);
    gap: var(--gap-9xs);
  }
  .nav {
    position: absolute;
    top: 0;
    left: calc(50% - 720px);
    background-color: rgba(255, 255, 255, 0.64);
    backdrop-filter: blur(32px);
    width: 1440px;
    justify-content: space-between;
    padding: var(--padding-5xs) 80px 0;
    font-size: var(--body200-bold-size);
    font-family: var(--h200-blod);
  }
  .real-estate {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 11634px;
    overflow: hidden;
    text-align: center;
    font-size: var(--h400-bold-size);
    color: var(--color-gray-300);
    font-family: var(--h300-bold);
  }
  @media (max-width: 768px) {
    .large-button {
        font-size: 24px;
      }
      
  }
  @media (max-width: 768px) {
    .large-button {
      font-size: 18px;
    }
}
@media (max-width: 768px) {
    .large-button {
      font-size: 18px;
    }
  
  }
.large-button {
    font-size: 24px;
    margin: 20px;
  }
  @media (max-width: 768px) {
    .large-button {
      font-size: 18px;
      margin: 10px;
    }
  }
@media (max-width: 768px) {
    .frame-parent4 .icon-parent {
      display: block;
    }
    .large-button1 {
      font-size: 18px;
    }
    .name-parent, .message-parent {
      width: 100%;
    }
  }
@media (max-width: 768px) {
    .osamare-white-logo-parent, .house-searchingbro-parent {
      text-align: center; 
    }
    .osamare-white-logo {
      margin-bottom: 20px;
    }
    .tailored-solutions-for {
      font-size: 16px;
    }
    .contacts-parent .mail-fill-parent {
      margin-bottom: 10px; 
    }
    .frame-parent16 .tailored-solutions-for {
      margin: 20px 0;
    }
    .nav .secondary-button {
      margin-top: 20px; 
    }
  }        
  @media (max-width: 480px) {
    .frame-parent8 {
      padding: 10px;
    }
    .frame-parent13 {
      padding: 5px;
    }
    .name-parent {
      margin-bottom: 10px;
    }
    .message-parent {
      margin-bottom: 10px;
    }
    .large-button1 {
      text-align: center;
    }
    .frame-parent15 {
      padding: 10px;
    }
    .menu-parent {
      font-size: 14px;
    }
    .contacts-parent {
      font-size: 14px;
    }
  }